:root {
	--background-color: #242424;
	--text-color: rgba(255, 255, 255, 0.87);
	--primary-color: #646cff;
	--primary-color-hover: #535bf2;
	--button-background-color: #1a1a1a;
	--loading-dot-color: #333;
	--light-gray: #ccc;
	--dark-gray: #333;
	--medium-gray: #444;
	--link-color: #337ab7;
	--link-color-hover: #23527c;
  }