:root {
	--background-color: #6B8981;
	--navigation-color: #6B818f;
	--text-color: #fff;
	--primary-color: #D5A764;
	--primary-color-hover: #E7E0AE;
	--secondary-color: #5F4B3E;
	--button-background-color: #1a1a1a;
	--panel-color: #6B818f;
	--light-gray: #E7E0AE;
	--link-color-hover: #D5A764;
	--warning-color: #C73F23;
	--row-even-color: #333;
	--row-odd-color: #555;
  }