:root {
	--background-color: #242424;
	--text-color: rgba(255, 255, 255, 0.87);
	--primary-color: #646cff;
	--primary-color-hover: #535bf2;
	--button-background-color: #1a1a1a;
	--loading-dot-color: #333;
  }